<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MBS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="WFA_СS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="MBS.Properties.Settings.ReportConnectionString" connectionString="Data Source=172.23.1.84\WINCC;Initial Catalog=aaaa;User ID=a;Password=11111111" providerName="System.Data.SqlClient" />
    <add name="MBS.Properties.Settings.AlarmConnectionString" connectionString="Data Source=172.23.1.84\WINCC;Initial Catalog=MBS1_Alarm;User ID=a;Password=11111111" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <userSettings>
    <MBS.Properties.Settings>
      <setting name="ReportPatch" serializeAs="String">
        <value>C:\Users\www.DESKTOP-NGC89DL\Desktop\practice</value>
      </setting>
      <setting name="ProjectName" serializeAs="String">
        <value>MBS. Линия 2</value>
      </setting>
    </MBS.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.0.0.0" newVersion="16.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>